/* start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* classi generiche */
body{
  font-family: 'Roboto', sans-serif;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

h4{
  margin-top: 10px;
}
h5, h6{
  color: #b1b1b1;
}

/* /classi generiche */

/* container outside */
.header-outside{
  width: 100vw;
  height: calc( 100vh - 88vh);
  background-color: #009688;
}

.main-outside{
  width: 100vw;
  height: calc( 100vh - 12vh);
  background-color: #dadbd3;
}
/* /container outside */


/* container */
.container{
  display: flex;
  position: fixed;
  width: 70vw;
  height: 94vh;
  top: 3%;
  left: 15%;
  z-index: 1;
}

/* left side */
.left{
  background-color: #f2f2f2;
  width: 30%;
  height: 100%;
}

/* <!-- header-left --> */
.header-left {
  height: calc(100vh - 93vh);
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-me{
  align-self: flex-start;
}

.me{
  max-width: 5vw;
  max-height: 5vh;
  margin: 5px;
}

.icon.header{
  align-self: flex-end;
}

.icon{
  color: #b1b1b1;
  padding: 2px 5px;
}
/* <!-- /header-left --> */


/* <!-- notify --> */
.notify{
  height: calc(100vh - 92vh);
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.icon-bell{
  border-radius: 50%;
  max-height: 10vh;
  background-color: #fff;
  color: #8edafc;
  padding: 8px;
  margin: 8px;
  font-size: 13px;
}

.notify-list{
  margin: 20px 0;
}

.underline a{
  color: #4f7485;
  font-size: 13px;
  margin-top: 0;
  text-decoration: underline;
}
/* <!-- /notify --> */


/* search */
.search{
  height: calc(100vh - 95vh);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.fa-search{
  color: #b1b1b1;
  padding-right: 15px;
}
/* /search */

/* contact */
.friends{
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f2f2f2;
}

.avatar{
  max-width: 5vw;
  max-height: 5vh;
  padding: 2px;
}

.contact-list li{
  margin: 0px 20px;
}
/* /contact */


/* /left side */

/* right side */
.right{
  display: flex;
  flex-direction: column;
  background-image: url(../img/mine.jpg);
  width: 70%;
  height: 100%;
}

/* header-right */
.header-right{
  height: calc(100vh - 93vh);
  background-color: #f2f2f2;
}

.chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.avatar-chat{
  display: flex;
  align-self: flex-start;
  justify-content: center;
}

.avatar-chat img{
  margin: 5px;
}
/* header-right */


/* chat */
.inside-chat, .inside-chat-none{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  padding: 5px;
}


.chat, .chat-none{
  display: flex;
  background-color: #d5f9ba;
  border-radius: 5px;
  padding: 0 10px;
}


.orario{
  margin-top: 30px;
  align-self: flex-end;
}
/* <!-- /chat --> */


/* <!-- player --> */
.player{
  height: calc( 100vh - 95vh);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;

}

#send{
  width: 40vw;
  height: 4vh;
  border-style: none;
}


/* <!-- /player --> */


/* /right side */

/* /container */
