/* start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* classi generiche */
body{
  font-family: 'Roboto', sans-serif;
}


.header-left, .header-right{
  height: calc(100vh - 95vh);
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li{
  list-style: none;
}

a{
  color: #000;
}

h5{
  color: #b1b1b1;
}

/* /classi generiche */

/* container outside */
.header-outside{
  width: 100vw;
  height: calc( 100vh - 88vh);
  background-color: #009688;
}

.main-outside{
  width: 100vw;
  height: calc( 100vh - 12vh);
  background-color: #dadbd3;
}
/* /container outside */


/* container */
.container{
  display: flex;
  position: fixed;
  width: 70vw;
  height: 94vh;
  top: 3%;
  left: 15%;
  z-index: 1;
}

/* left side */
.left{
  background-color: yellow;
  width: 30%;
  height: 100%;
}

/* <!-- header-left --> */
.img-me{
  align-self: flex-start;
}

.me{
  max-width: 5vw;
  max-height: 5vh;
  padding: 2px;
}

.icon.header{
  align-self: flex-end;
}

.icon{
  color: #b1b1b1;
  padding: 2px 5px;
}
/* <!-- /header-left --> */


/* <!-- notify --> */
.notify{
  height: calc(100vh - 94vh);
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.icon-bell{
  border-radius: 50%;
  max-height: 10vh;
  background-color: #fff;
  color: #8edafc;
  padding: 8px;
  margin: 8px;
  font-size: 13px;
}

.notify-list{
  margin: 20px 0;
}

.nounderline a  {
  text-decoration: none;
}

.underline a{
  color: #4f7485;
  font-size: 13px;
  margin-top: 0;
}
/* <!-- /notify --> */


/* search */
.search{
  height: calc(100vh - 96vh);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.fa-search{
  color: #b1b1b1;
  padding-right: 15px;
}
/* search */

/* /left side */


/* right side */
.right{
  display: flex;
  flex-direction: column;
  background-color: green;
  width: 70%;
  height: 100%;
}

.player{
  background-color: purple;
  height: calc( 100vh - 95vh);
  margin-top: auto;
}
/* /right side */

/* /container */
